<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta >
        <link rel="stylesheet" href="{% static 'css/portafolio.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
        <link rel="stylesheet" href="{% static 'css/sobre_mi.css' %}">
        <link rel="stylesheet" href="{% static 'css/habilidades.css' %}">
        <link rel="stylesheet" href="{% static 'css/proyectos.css' %}">
        <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'image/andryusdev2.png' %}">
        <title>Andryusdev | Ingeniero en Informatica</title>
        <meta name="description" content="Portafolio de Andryus Guaiquirima, desarrollador web especialista en con CSS y Django">
        <meta name="author" content="Andryus Guaiquirima">
        <meta name="keywords" content="portafolio, desarrollador, css, Django, web, inteligencia artificial">
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    </head>
    <body>
        <header class="header">
            {% include 'includes/header.html' %}
        </header>
        <main>
            {% include 'includes/sections/inicio.html' %}
            {% include 'includes/sections/sobre_mi.html' %}
            {% include 'includes/sections/habilidades.html' %}
            {% include 'includes/sections/proyectos.html' %}
            {% include 'includes/sections/contacto.html' %}
        </main>
        <footer>
            {% include 'includes/footer.html' %}
        </footer>
        <script src="{% static 'javascript/navbar.js' %}"></script>
    </body>
</html>