<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta >
        <link rel="stylesheet" href="{% static 'css/portafolio.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <title>Andryusdev | Ingeniero en Informatica</title>
        <meta name="description" content="Portafolio de Andryus Guaiquirima, desarrollador web especialista en con CSS y Django">
        <meta name="author" content="Andryus Guaiquirima">
        <meta name="keywords" content="portafolio, desarrollador, css, Django, web, inteligencia artificial">
    </head>
    <body>
        <header>
            {% include 'includes/header.html' %}
        </header>
        <footer>
            
        </footer>
    </body>
</html>