{% load static %}
<div class="header__brand">
    <img src="{% static 'image/andryusdev_logo2.png' %}" alt="Logo Andryusdev" class="logo_andryusdev">
    <p>ANDRYUSDEV</p>
</div>
<nav class="navbar">
    <button class="navbar__toggle"><i  class="fa fa-bars"></i></button>
    <div class="navbar__overlay"></div>
    <ul class="navbar__menu-contenedor">
        <!--<button class="navbar__toggle x"><i  class="fa fa-times"></i></button>-->
        <li class="navbar__menu-iten">Inicio</li>
        <li class="navbar__menu-iten">Sobre Mi</li>
        <li class="navbar__menu-iten">Habilidades</li>
        <li class="navbar__menu-iten">Proyectos</li>
        <li class="navbar__menu-iten">Contacto</li>
    </ul>
</nav>