{% load static %}
<nav class="navbar">
    <div class="navbar__brand">
        <img src="">
        <p>AndryusDev</p>
    </div>
    <div class="navbar__menu">
        <ul class="navbar__menu-contenedor">
            <li class="navbar__menu-iten">Inicio</li>
            <li class="navbar__menu-iten">Sobre Mi</li>
            <li class="navbar__menu-iten">Habilidades</li>
            <li class="navbar__menu-iten">Proyectos</li>
            <li class="navbar__menu-iten">Contacto</li>
        </ul>
    </div>
</nav>