<section class="contacto__contenedor">
    <div class="contacto__contenedor-titulo">
        <h3 class="contacto__titulo">Contáct<span>ame</span></h3>
        <p class="contacto__descripcion">¿Listo para comenzar tu próximo proyecto?</p>

    </div>
    <div class="contacto__contenedor-informacion">
        <div class="contacto__informacion-formulario">
            <div class="contacto__formulario-nombre form form-group">
                <label class="contacto__nombre-label form-label" for="nombre">Nombre</label>
                <input class="contacto__nombre-input form-input form-group" placeholder="Nombre Completo" id="nombre" maxlength="60">
            </div>

            <div class="contacto__formulario-email form form-group">
                <label class="contacto__email-label form-label" for="email">Email</label>
                <input class="contacto__email-input form-input form-group" placeholder="Tucorreo@gmail.com" id="email">
            </div>

            <div class="contacto__formulario-asunto form form-group">
                <label class="contacto__asunto-label form-label" for="asunto">Asunto</label>
                <input class="contacto__asunto-input form-input form-group" placeholder="¿Sobre qué quieres hablar?" id="asunto">
            </div>

            <div class="contacto__formulario-mensaje form form-group">
                <label class="contacto__mensaje-label form-label" for="mensaje">Mensaje</label>
                <textarea class="contacto__mensaje-input form-texarea form-group" rows="8" placeholder="Cuéntame sobre tu proyecto..." id="mensaje"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="contacto__btn-enviar">Enviar mensaje</button>
            </div>

        </div>
        <div class="contacto__informacion-desarrollador">

            <div class="info-item">
                <i class="fas fa-envelope info-icon"></i>
                <div class="info-content">
                    <h4 class="info-title">Email</h4>
                    <a class="info-text">andryusdev@gmail.com</a>
                </div>
            </div>

            <div class="info-item">
                <i class="fas fa-map-marker-alt info-icon"></i>
                <div class="info-content">
                    <h4 class="info-title">Ubicación</h4>
                    <p class="info-text">Anzoátegui,Venezuela</p>
                </div>
            </div>

            <div class="info-item">
                <i class="fas fa-phone-alt info-icon"></i>
                <div class="info-content">
                    <h4 class="info-title">Teléfono</h4>
                    <a class="info-text"> +58 424-846-9993</a>
                </div>
            </div>
            <div class="info-item">
                <i class="fas fa-clock info-icon"></i>
                <div class="info-content">
                    <h4 class="info-title">Disponibilidad</h4>
                    <p class="info-text"> Lunes a Viernes: 8:00AM - 17:00PM</p>
                    <p class="info-text">Sabados: 8:00AM - 1:00PM</p>
                </div>
            </div>
            
        </div>
        
    </div>

</section>