<section class="habilidades__contenedor">
    <div class="habilidades__contenedor-header">
        <h2 class="habilidades__conenedor-titulo">Mís <span>Habilidades</span></h2>
        <p class="habilidades__conenedor-sutitulo">Tecnologias que domino y uso regularmente</p>
    </div>
    <div class="habilidades__contenedor-categorias">
        <div class="habilidades__contenedor-categorias-skills">
            <h3 class="habilidades__contenedor-categorias-titulos"><span><i class="fas fa-server"></i> Back-End</span></h3>
            <div class="habilidades__contenedor-categorias-lista">
                <div class="habilidades__contenedor-categorias-item">
                    <div class="habilidades__icono"><i class="fab fa-python"></i></div> Python & Django
                </div>
                <i>Intermedio</i>
            </div>
            <p class="skill__descripcion">Desarrollo de back-end robusto con Django</p>

        </div>

        <div class="habilidades__contenedor-categorias-skills">
            <h3 class="habilidades__contenedor-categorias-titulos"><span><i class="fas fa-code"></i> Front-End</span></h3>
            <div class="habilidades__contenedor-categorias-lista">
                <div class="habilidades__contenedor-categorias-item">
                    <div class="habilidades__icono"><i class="fab fa-python"></i></div> HTML5 & CSS3
                </div>
                <i>Intermedio</i>
            </div>
            <p class="skill__descripcion">Maquetación semántica, responsive design, animaciones CSS y diseño adaptable para todos los dispositivos</p>
        </div>
        
        <div class="habilidades__contenedor-categorias-skills">
            <h3 class="habilidades__contenedor-categorias-titulos"><span><i class="fas fa-database"></i> Base de Datos</span></h3>
        </div>

        <div class="habilidades__contenedor-categorias-skills">
            <h3 class="habilidades__contenedor-categorias-titulos"><span><i class="fas fa-tools"></i> Herramientas</span></h3> 
            <div class="skills-lista">

            </div>

        </div>

    </div>
</section>