<section class="proyectos__contenido">
    <div class="proyectos__contenido-encabezado">
        <h2 class="proyectos__contenido-titulo">Mís <span> Proyectos</span></h2>
        <p class="proyectos__contenido-descripcion">Algunos de mis trabajos recientes</p>

    </div>

    <div class="proyectos__contenido-lista">
        <div class="proyectos__contenido-item">
            <div>
                <img>
            </div>
            
            <h3 class="proyecto-item-titulo">Portafolio Personal</h3>
            <p class="proyectos-item-descripcion">Sitio web responsive desarrollado con HTML5, CSS3 y JavaScript vanilla.</p>
            <div class="proyectos__contenido-item-tags">
                <p class="proyectos__item-tag">HTML;</p>
                <p class="proyectos__item-tag">CSS</p>
                <p class="proyectos__item-tag">Javascript</p>
                <p class="proyectos__item-tag">Python-Django</p>
            </div>

        </div>

    </div>

</section>